studio-projects/OCBCDemo.module/Schemas/RequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1505283840802" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1505283840802">
  <complexType name="RequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="customer_id" type="string"/>
    </sequence>
  </complexType>
  <element name="RequestElement" type="tns:RequestElementType"/>
</schema>
