studio-projects/OCBCDemo.module/Schemas/ResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1505283865866" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1505283865866">
  <complexType name="ResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="host" type="string"/>
    </sequence>
  </complexType>
  <element name="ResponseElement" type="tns:ResponseElementType"/>
</schema>
