studio-projects/BankingBalance.module/Schemas/BankingBalanceRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1505210921812" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1505210921812">
  <complexType name="BankingBalanceRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="customer_id" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="product_id" type="string"/>
    </sequence>
  </complexType>
  <element name="BankingBalanceRequestElement" type="tns:BankingBalanceRequestElementType"/>
</schema>
