studio-projects/CustomerProducts.module/Schemas/CustomerProductsResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1505216900440" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1505216900440">
  <complexType name="CustomerProductsElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="customer_id" type="string"/>
    </sequence>
  </complexType>
  <element name="CustomerProductsElement" type="tns:CustomerProductsElementType"/>
</schema>
