studio-projects/CCBalance.module/Schemas/CCBalanceRequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1505215202714" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1505215202714">
  <complexType name="CCBalanceRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="customer_id" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="product_id" type="string"/>
    </sequence>
  </complexType>
  <element name="CCBalanceRequestElement" type="tns:CCBalanceRequestElementType"/>
</schema>
